@using QuotingDojo.Models;
@model QuoteModel;

@{
    ViewData["Title"] = "Quoting Dojo";
}
<h1 class="p-3">Quotes:</h1>
<div class="ml-3">
  @foreach(var quote in ViewBag.Quotes) {
    <blockquote class="blockquote">
    <p class="my-2">@quote["quote"]</p>
    <footer class="blockquote-footer">@quote["name"] at @quote["created_at"]</footer>
  </blockquote>
  <hr class="mt-2 mb-3">
  }
</div>